{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./src/main/tsconfig.json", "./src/web/tsconfig.json"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ]
}